<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="display: flex; justify-content:space-between">
                        <h4 class="title">Lista de Usuários</h4>
                        <button class="btn btn-info" (click)="ListarUsuarios()">
                            <i class="fa fa-refresh fa-2x pull-right" title="Atualizar lista"></i>
                        </button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <div *ngIf="usuariosDados.dataRows.length <= 0" class="container-fluid">
                            <h5>Não há usuários cadastrados no momento</h5>
                        </div>
                        <table class="table table-hover table-striped" *ngIf="usuariosDados.dataRows.length > 0">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of usuariosDados.headerRow">{{ cell }}</th>
                                    <th>Escolaridade</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of usuariosDados.dataRows">
                                    <td>{{ row.nome }}</td>
                                    <td>{{ row.sobrenome }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ EscolaridadeString(row.escolaridade) }}</td>
                                    <td class="td-actions text-center">
                                        <a (click)="EditarUsuario(row)" rel="tooltip" title="Editar" class="btn btn-info btn-simple">
                                            <i class="fa fa-pencil-square-o" ></i>
                                        </a>
                                        <a (click)="DeletarUsuario(row.id)" rel="tooltip" title="Excluir" class="btn btn-danger btn-simple">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" *ngIf="editarUsuario">Gerenciar Usuário</h4>
                        <h4 class="title" *ngIf="!editarUsuario">Adicionar Usuário</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="this.gerenciarUsuarioForm" (ngSubmit)="onSubmit()">
                            <input type="hidden" id="idUsuario" formControlName="idUsuario">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Nome" id="nome" formControlName="nome">
                                        <small class="text-danger" *ngIf="this.gerenciarUsuarioForm.get('nome').invalid && this.gerenciarUsuarioForm.get('nome').touched">Informe o nome do usuário</small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input type="text" class="form-control" placeholder="Sobrenome" id="sobrenome" formControlName="sobrenome">
                                        <small class="text-danger" *ngIf="this.gerenciarUsuarioForm.get('sobrenome').invalid && this.gerenciarUsuarioForm.get('sobrenome').touched">Informe osobrenome do usuário</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control" placeholder="E-mail" id="email" formControlName="email">
                                        <small class="text-danger" *ngIf="this.gerenciarUsuarioForm.get('email').invalid && this.gerenciarUsuarioForm.get('email').touched">Informe um endereço de e-mail válido</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data de Nascimento</label>
                                        <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Escolaridade</label>
                                        <select class="form-control" id="escolaridade" formControlName="escolaridade" placeholder="Selecione...">
                                            <option *ngFor="let escolaridade of escolaridadeDados" [ngValue]="escolaridade.id">{{ escolaridade.descricao }}</option>
                                        </select> 
                                        <small class="text-danger" *ngIf="this.gerenciarUsuarioForm.get('escolaridade').invalid && this.gerenciarUsuarioForm.get('escolaridade').touched">Informe um endereço de e-mail válido</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="editarUsuario">
                                <div class="col-md-12">
                                    <button (click)="CancelarAtualizacao()" class="btn btn-danger">Cancelar</button>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Atualizar usuário</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="!editarUsuario">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Adicionar usuário</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="alertDelete" style="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;">
    <div class="container-fluid">
        <div class="row">
            <h5 class="text-danger">Atenção</h5>
        </div>
        <div class="row">
            <span>Deseja realmente excluir este usuário?</span>
        </div>
        <div class="row">
            <button class="btn btn-danger btn-sm" (click)="alertDelete = false">Cancelar</button>
            <button class="btn btn-info btn-sm pull-right" (click)="DeletarUsuario(deleteId)">OK</button>
        </div>
    </div>
</div>
